$purpl:#8d81ac;

@mixin btn-purple($width, $hight) {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    width: $width;
    height: $hight;
    background: #8F80A9;
    border-radius: 20px;
}

.mt25{
    margin-top: 25px !important;
}
#mr10-img4{
    margin-right: 10px;
}
#eye {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}
.header__hat-mobile__btn-buy-now:hover{
    color: #8f80a9;
}

$font: "Montserrat",
sans-serif;

.open {
    margin-bottom: 20px;
}

.global {
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__hat-mobile {

        height: 103px;
        background: #262626;
        padding: 0px 10px 0px 10px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 103px;

        &__menu-hd {

            position: absolute;
            margin: 84px auto 0px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;

            &__align {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60vw;

                &__menu-item {
                    text-decoration: none;

                    &__link {
                        font-family: "Montserrat", sans-serif;
                        color: #8d81ac;
                        font-size: 16px;
                        /* Приближение из-за подстановки шрифтов */
                        font-weight: 700;

                    }
                }

            }
        }
        &__logo:hover &__logo__logo-img{
            background-position: -10px -10px;
        }
        &__logo:hover &__logo__logo-txt{
            color:#fff;
        }
        &__logo {


            align-items: center;
            display: flex;

            &__logo-img {
                z-index: 2;
                width: 43px;
                height: 41px;
    background: url("../../src/img/css_sprites.png") -73px -10px;
            }


            &__logo-txt {
                z-index: 2;
                margin-left: 12px;
                font-family: "Lato", sans-serif;
                color: #8d81ac;
                font-size: 24px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                line-height: 16px;
                /* Приближение из-за подстановки шрифтов */
                text-align: left;
                display: none;
                text-transform: uppercase;
            }
            

        }

        &__btn-buy-now {
            z-index: 2;
            @include btn-purple(119px, 37px)
        }
        &__btn-buy-now:hover {
            background: white;
        };

        &__menu-hd {
            z-index: 1;
            visibility: hidden;
            
        }

        &__link {
            text-decoration: none;
            background: #8F80A9;
            text-transform: capitalize;
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
            font-size: 32px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            padding-left: 33px;
            text-align: left;
            height: 96px;
        }
        .header__hat-mobile__menu-hd__align__menu-item__link:hover{
            color: white;
        }

        .header__a__link {

            text-decoration: none;
        }
        &__menu-hamburger {
            &__appeare {
                margin-top: 25px;
                text-decoration: none;
                width: 100vw;
                position: absolute;
                left: 0;
                display: none;
                &__link {
                    text-decoration: none;
                    background: #313131;
                    text-transform: capitalize;
                    font-family: "Montserrat", sans-serif;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #373737;
                    font-size: 32px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    padding-left: 33px;
                    text-align: left;
                    height: 96px;
                }

                &__link:hover {
                    color: #8d81ac;
                    border-right: 5px solid #8d81ac;
                }
            }
            .header__hat-mobile__btn-buy-now:hover {
                background: #fff;
                color: #8f80a9;
            }
            .header__intro-title__btn-buy-now:hover{
                background: #fff;
                color: #8f80a9;
            }
            &__icon {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                position: relative;
                width: 26px;
                height: 21px;
                .header__hat-mobile__btn-buy-now:hover{
                    color: #8f80a9;
                }
                &__line {
                    display: block;
                    position: absolute;
                    height: 9px;
                    width: 100%;
                    background: white;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                    height: 3px;


                }

                &__line:nth-child(1) {
                    top: 0px;
                }

                &__line:nth-child(2) {
                    top: 10px;
                }

                &__line:nth-child(3) {
                    top: 20px;

                }

                &.open &__line:nth-child(1) {
                    top: 18px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                &.open &__line:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }

                &.open &__line:nth-child(3) {
                    top: 18px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }

            &__appeare {

                &__link {}
            }
        }
    }

    &__intro-title {
        position: relative;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 615px;
        background-position: center;
        background-image: url('../../src/img/main-bg.jpg');
        background-repeat: no-repeat;

        &__title {
            margin-top: -300px;
            font-family: $font;
            color: #ffffff;
            font-size: 48px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 700;
            text-align: center;
        }

        &__note-undertitle-block {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__note-undertitle {
                text-transform: capitalize;
                font-family: $font;
                color: #8d81ac;
                font-size: 18.01px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 25px;
                /* Приближение из-за подстановки шрифтов */
                text-align: center;
            }

            &__note-undertitle:nth-child(2) {
                margin-top: 20px;
            }

            &__note-undertitle:nth-child(3) {
                margin-top: 5px;
            }
        }

        &__note-v-of-forkio {
            margin-top: 10px;
            text-transform: uppercase;
            font-family: $font;
            color: #848e97;
            font-size: 14px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;
            /* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
        .header__intro-title__btn-buy-now{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 45px;
          
            background-color: #8C80AB;
            border-radius: 20px;
            width: 290px;
            font-family: $font;
            color:
            #ffffff;
            font-weight: 700;
            height: 45px;
            font-size: 18px;
            text-transform: capitalize;
            bottom:0;
            position: absolute;
            bottom: -27px;
            left: 50%;
            transform: translateX(-50%);
        }
        .header__intro-title__btn-buy-now:hover{
            color: #8d81ac;
            background: #fff;
            border: 1px solid #8d81ac;
        }
        &__note-unlimited {
            text-transform: capitalize;
            font-family: "Montserrat", sans-serif;
            margin-top: 13px;
            color:
                #848e97;
            font-size: 14px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;
            /* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
    }
}

.people-are-talking-about-us__underline{
width: 85%;
height: 2px;
background-color: #635665;
margin: 44px auto 0px;
border-radius: 1px;
}
.people-are-talking-about-us{
margin-top: 84px;
background-image: url("../img/people-bg.jpg");
display: flex;
justify-content: center;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
flex-direction: column;

&__title{
    margin-top: 47px;
    font-family: "Montserrat",sans-serif;
    color:#ffffff;
    font-size: 36px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 35.214px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
&__block-with-items{
    display: flex;
    width: 300px;
    margin: auto;

    flex-wrap: wrap;
    justify-content: center;
    &__item{
        
       
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__logo{
       
            margin-top: 49px;
            margin-bottom: 25px;
            display: flex;
            justify-content: center;
        }
        &__description{
            display: flex;
            justify-content: center;
           
            &__align{
                width: 250px;
                font-family: "Lato",sans-serif;
                color:#ffffff;
                font-size: 16px;/* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                font-style: italic;
                line-height: 24px;/* Приближение из-за подстановки шрифтов */
                text-align: center;
            }
        }
    }
    }
}
.fork-subscription-pricing{
display: flex;
padding-bottom: 100px;
background-image: url('../img/bg-fsp.jpg');
flex-direction: column;
justify-content: center;
&__title{
    margin-top: 71px;
    font-family: "Montserrat",sans-serif;
color:
#ffffff;
font-size: 28px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
}
&__note{
    display: none;
    width: 62%;
    margin: auto;
    font-family: 'Source Sans Pro',sans-serif;
    color:rgba(162, 145, 165, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}
&__block-with-items{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 90%;
    flex-wrap: wrap;
    margin: auto;
    
    &__item3{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 288px;
        &__title{
            margin-left: -5.5px;
            background-color:  rgba(255, 255, 255, 0.06);
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-family: $font;
            width: 299px;
            height: 111px;
            color:
            #ffffff;
            font-size: 24px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
        &__other{
            width: 288px;
            background-color: rgba(255, 255, 255, 0.11);
            &__price{
                margin-top: 15px;
                font-family: "Montserrat",sans-serif;
                color:
                #ffffff;
                font-size: 82.03px;/* Приближение из-за подстановки шрифтов */
                font-weight: 700;
               
                text-align: center;
            }
            &__time{
                margin-top: 21px;
                font-family: $font;
                color:
                #3F3042;
                font-size: 14.02px;/* Приближение из-за подстановки шрифтов */
                font-weight: 400;
              
                text-align: center;
            }
            &__underline{
            
                margin: 49px auto 0px;
                background-color:#8d81ac;
                width: 60px;
                height: 5px;
            }
            &__note-block{
                margin-top: 41px;
                height: 48px;
                &__note{
                    font-family: $font;
                    color:
                    #ffffff;
                    font-size: 16.01px;/* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    line-height: 5.317px;/* Приближение из-за подстановки шрифтов */
                    text-align: center;
                }
            }
            &__btn:hover{
                background-color: rgba(255, 255, 255, 0.7);
                color: #7f6d78;
                font-weight: 700;
            }
            &__btn{
                margin: 82px auto 47px;
                background-color:
                rgba(255, 255, 255, 0.15);
                width: 190px;
                height: 52px;
                font-family: $font;
                border-radius: 15px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color:
                #ffffff;
                
                font-size: 16px;/* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 15px;/* Приближение из-за подстановки шрифтов */
                text-align: center;
            }
        }

    }
    &__item{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 257px;
        background-color:rgba(255, 255, 255, 0.11);
        display: flex;
        justify-content: center;
        flex-direction: column;
        &__title{
                align-items: center;
                display: flex;
                justify-content: center;
                height: 97px;
                background-color: rgba(255, 255, 255, 0.06);
                z-index:99;
                text-transform: capitalize;
                font-family: "Montserrat",sans-serif;
                    color:#ffffff;
                    font-size: 24px;/* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    line-height: 15px;/* Приближение из-за подстановки шрифтов */
                    text-align: center;
        }
        &__price{
            margin-top: 66px;
            font-family: $font;
            color:
            #ffffff;
            font-size: 60.18px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
        &__time{
            margin-top: 24px;
            font-family: $font;
            color:
            #ffffff;
            font-size: 14px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
        &__underline{
            
            margin: 39px auto 0px;
            background-color:#8d81ac;
            width: 60px;
            height: 5px;
        }
        &__btn:hover{
            font-weight: 700;
            background-color: rgba(255, 255, 255, 0.7);
            color: #7f6d78;
        }
        &__btn{
            margin: 68px auto 38px;
            text-transform: uppercase;
            background-color:rgba(255, 255, 255, 0.15);
            width: 160px;
            height: 42px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $font;
            color:#ffffff;
            font-size: 14.99px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
        &__note-block{
            height: 46px;
            &__note{
            text-transform: capitalize;
            margin-top: 31px;
            font-family: $font;
            color:
            #ffffff;
            font-size: 16.01px;/* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 5.317px;/* Приближение из-за подстановки шрифтов */
            text-align: center;
            }
       
        }
    }
}

}

.revolutionary-editor {
    margin-top: 121px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 0px 25px 0px 25px;

    &__title {
        display: flex;
        flex-wrap:wrap;
        width: 286px;
        margin: auto;
        justify-content: center;

        &__title-item {
          
            font-family: $font;
            color:
                #635c73;
            font-size: 26px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__description {
        font-family: "Lato", sans-serif;
        color:
            #323232;
        font-size: 14px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 14.673px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center;


    }

    &__three-btns-block {

        width: 81vw;
        margin: 35px auto auto auto;

        &__btn {

            display: flex;
            height: 27px;

            &__icon-and-txt {
                font-weight: 700;
                border-color: rgba(27, 31, 35, .35);
                border-radius: 3px;
                padding: 0px 10px 0px 10px;
                text-transform: capitalize;
                width: 65px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-color: rgba(27, 31, 35, .35);
                background-color: #e6ebf1;
                font-size: 12px;
                font-family: $font;
                border: 1px solid rgba(27, 31, 35, .2);
                border-right: none;
            }

            &__icon-and-txt:nth-child(1) {
                width: 65px;
            }

            &__number {

                border-left: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                background-color: #fff;
                border: 1px solid rgba(27, 31, 35, .2);
                border-radius: 3px;
                font-size: 12px;
                font-weight: 600;
                font-family: $font;
            }
        }
    }


}
.revolutionary-editor__three-btns-block_line1{
    display: flex;
    justify-content: space-between;
    width: 256px;
    margin: auto;
}
.revolutionary-editor__three-btns-block_line2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#disapp-btn{
    display: none;
}


@media (min-width: 480px)and(max-width:768px) {

    #disapp-btn{
        display: block;
    }
    .revolutionary-editor__three-btns-block_line2{
        visibility: hidden;
    }
    .revolutionary-editor__three-btns-block_line1{
        width: 365px;
    }
    .revolutionary-editor__title{
        width: 520px;
        margin: auto;
    }
    .revolutionary-editor__title__title-item{
        font-size: 42px;
    }
    .revolutionary-editor__title__title-item:nth-child(2){
        margin-top: 10px;
    }
    .header__intro-title__btn-buy-now{
        width: 390px !important;
        height: 62px !important;
    }
    .header__hat-mobile__logo__logo-txt{
        display: block;
    }
    .fork-subscription-pricing__block-with-items{
        width: 300px;
        justify-content: center;
    }
    .fork-subscription-pricing{
        &__title{

            font-size: 42px;
        }
        &__block-with-items{
            
        }}
    }


 
.fork-subscription-pricing{
    &__title{
        
        font-size: 42px ;
    }
}
    .header__hat-mobile__btn-buy-now {
        margin-right: 12px;
    }

 
    .header__intro-title {
        &__title {
            font-size: 54px;
        }

        &__note-undertitle {
            font-size: 20px;
        }

        &__note-undertitle:nth-child(2) {
            margin-top: 35px;
        }

        &__note-v-of-forkio {
            font-size: 16px;
        }

        &__btn-buy-now {
            background-color: #8d81ac;
            width: 390px;
            height: 62px;
            font-size: 21px;
        }


    }
   
    .revolutionary-editor {
        &__title {
            font-size: 42px;
        }

        &__description {
            font-size: 16px;
        }
    }


@media (min-width:768px)and(max-width:1200px) {
    .header__intro-title__btn-buy-now{
        background-color:
        #8d81ac;
        width: 390px !important;
        height: 62px !important;
        font-size: 21px !important;
        margin-top: 380px !important;
        border-radius: 30px !important; 

    }
    #disapp-btn{
        display: block;
    }
    .revolutionary-editor__three-btns-block_line2{
        visibility: hidden;
    }
    .revolutionary-editor__three-btns-block_line1{
        width: 365px;
    }
    .revolutionary-editor__title__title-item:nth-child(1){
        margin-right: 10px;
    }
     .revolutionary-editor__title{
        width: 700px;
        margin: auto;
    }
    .header__hat-mobile__logo__logo-txt{
        display: block;
    }
    .people-are-talking-about-us__title{
        font-size: 42px;
    }
    .people-are-talking-about-us__block-with-items{
        width: 600px;
        justify-content: space-between;
    }
     .fork-subscription-pricing__block-with-items{
         justify-content: space-between;
         width: 560px;
     }
 
    .fork-subscription-pricing__title{
        font-size: 42px
    }
    .header__hat-mobile {
        height: 118px;

    }

    
    .header__hat-mobile__menu-hamburger {
        display: none;
    }

    .header__hat-mobile__menu-hd {
        visibility: visible;

    }

   

    .revolutionary-editor__title__title-item:nth-child(1) {
        margin-right: 10px;
    }

    .header__intro-title {
        &__titel {
            font-size: 72px;
        }

        &__note-undertitle {
            font-size: 24px;
        }

        &__note-v-of-forkio {
            font-size: 14px;
        }

        &__btn-buy-now {
            width: 390px;
            height: 62px;
            margin-top: 530px;
            font-size: 21px;
        }

    }

    .header__intro-title__note-undertitle-block {
        flex-direction: row;
    }

    .header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
        margin-left: 10px;
        margin-top: 0;
    }

    .revolutionary-editor {
        &__title {
            &__title-item {
                font-size: 42px;
            }
        }

        &__description {
            line-height: 23.476px;
            font-size: 21px;
        }
    }



    
}

@media (min-width: 1200px) {
    .header__intro-title__btn-buy-now{
        background-color:#8d81ac;
        width: 390px !important;
        height: 62px !important;
        font-size: 21px !important;
        border-radius: 30px !important;
    }
    .revolutionary-editor__title {
        width: 800px;
        margin: auto;
    }
    .header__hat-mobile__logo__logo-txt{
        display: block;
    }
    #disapp-btn{
        display: block;
    }
    .revolutionary-editor__three-btns-block_line2{
        visibility: hidden;
    }
    .revolutionary-editor__three-btns-block_line1{
        width: 365px;
    }
    .revolutionary-editor__title{
        width: 200px;
        margin: auto;
    }
    .revolutionary-editor__title__title-item:nth-child(1){
        margin-right: 10px;
    }
    .people-are-talking-about-us__title{
        font-size: 48px;
    }
    .people-are-talking-about-us__block-with-items{
        width: 930px;
        justify-content: space-between;
    }
    .fork-subscription-pricing__block-with-items{
        justify-content: space-between;
        width: 1115px;
    }
    .fork-subscription-pricing__title{
        font-size: 48px;

    }
    .revolutionary-editor__description {
        font-size: 21px;
        width: 75vw;
        display: flex;
        justify-content: center;
        margin: auto;
        line-height: 23.476px;
    }

    .header__hat-mobile__btn-buy-nowХ {
        width: 145px;
        font-size: 16px;
        height: 38px;
    }

    .header__hat-mobile__menu-hamburger {
        display: none;
    }

    .header__hat-mobile__menu-hd {
        visibility: visible;
        margin-top: 0;
    }

    .header__hat-mobile {
        padding: 0px 90px 0px 90px;
    }

    .header__hat-mobile__menu-hd__align {
        width: 35vw;
    }

    .header__intro-title {
        &__title {
            font-size: 82px;

        }

        &__note-undertitle-block {
            flex-direction: row;

            &__note-undertitle {
                font-size: 30px;
            }
        }

        &__note-v-of-forkio {
            margin-top: 18px;
        }

    }




    .revolutionary-editor {
        &__note-undertitle-block__note-undertitle {
            font-size: 54px;
        }

        &__description {
            font-style: 21px;
        }
    }

    .revolutionary-editor__title__title-item {
        font-size: 54px;

    }

    .revolutionary-editor__title__title-item:nth-child(2) {
        margin-left: 10px;
    }
}

.header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
    margin-top: 0;
    margin-left: 10px;

}





//From Vlad
* {
    transition: all .2s;
}

@mixin images {
    padding: 0px 10px;
    float: left;
    display: inline-block;
}

@mixin discripsion {
    width: 100%;
    font-size: 42px;
    line-height: 57px;
    margin: 2.3rem 0rem 1.3rem;
}

@mixin display {
    margin: auto;
    background-color: rgb(244, 244, 244);
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;

    &__container {

        .descripsion {
            font-family: "Montserrat";
            text-align: center;
            color: $purpl;
            font-size: 32px;
            font-weight: 700;
            margin-top: 1.9rem;
        }

        .discripsion__long {
            margin: 1.9rem 10px 0px 10px;
            text-align: center;

            &__text {

                &-m {
                    font-family: "Montserrat";
                    font-size: 16px;
                    color: #323232;
                    margin-top: 1.6rem;
                    margin-bottom: 0.8rem;
                }

                &-s {
                    font-family: "Lato";
                    font-size: 14px;
                    color: #848e97;
                    line-height: 21px;
                }
            }


        }

        &-editor {
            background-image: url("../build/img/editor.svg");
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100vw;
            height: 23rem;
            margin-top: 4rem;
        }

    }
}

@media screen and (min-width:320px) {

    .opportunitys {
        @include display;
    }
}

@media screen and (min-width:480px) {

    .opportunitys {
        @include display;

        height: 85rem;

        &__container {

            .descripsion {
                @include discripsion;

            }

            .discripsion__long {
                margin-top: 2.8rem;

                &__img-created {
                    @include images;
                    margin-left: 7px;
                }

                &__img-incred {
                    @include images;
                    margin-left: 7px;
                }

                &__img-expr {
                    @include images;
                    margin-left: 24px;
                }

                &__img-created2 {
                    @include images;
                    margin-left: 16px;
                }

                &__text {
                    text-align: left;
                    margin: 0px 20px 0px 150px;


                    &-m {
                        margin-top: 0px;
                    }

                    &-s {
                        line-height: 22px;
                    }
                }


            }

            &-editor {
                background-image: url("../build/img/editor%20(1).svg");
                background-size: contain;
                height: 32.4rem;
                margin-top: 2.2rem;
            }
        }
    }
}

@media screen and (min-width:768px) {

    .opportunitys {
        @include display;

        height: 78.7rem;

        &__container {

            .descripsion {
                @include discripsion;
                margin: 2.9rem 0rem 0.1rem;
            }

            .discripsion__long {
                margin-top: 3.2rem;

                &__img-created {
                    @include images;
                    margin-left: 0.7rem;
                }

                &__img-incred {
                    @include images;
                    margin-left: 0.7rem;
                }

                &__img-expr {
                    @include images;
                    margin-left: 1.75rem;
                }

                &__img-created2 {
                    @include images;
                    margin-left: 1.25rem;
                }

                &__text {
                    text-align: left;
                    margin: 0rem 1.55rem 0rem 10rem;


                    &-m {
                        margin-top: 0rem;
                    }

                    &-s {
                        font-family: "Montserrat";
                        font-weight: 400;
                        line-height: 22px;
                    }
                }


            }

            &-editor {
                background-image: url("../build/img/editor%20(2).svg");
                height: 32.4rem;
                margin-top: 2.9rem;
            }
        }

    }
}

@media screen and (min-width:1200px) {

    .opportunitys {
        @include display;
        height: 44.4rem;
        max-width: 1200px;

        &__container {
            width: 100%;
            padding-top: 3.5rem;
            align-items: flex-start;
            position: relative;

            .descripsion {
                @include discripsion;
                width: 45%;
                position: absolute;
                right: 0px;
                margin: 0rem 0rem 0.1rem;
                line-height: 65px;
            }

            .discripsion__long {
                width: 45%;
                margin-top: 1.7rem;


                &__img-created {
                    @include images;
                    margin-left: 71px;
                }

                &__img-incred {
                    @include images;
                    margin-left: 71px;
                }

                &__img-expr {
                    @include images;
                    margin-left: 88px;
                }

                &__img-created2 {
                    @include images;
                    margin-left: 80px;
                }

                &__text {
                    text-align: left;
                    margin: 0px 0px 0px 215px;
                    width: 22.8rem;


                    &-m {
                        margin: 0px 0px 0.6rem;
                    }

                    &-s {}
                }


            }

            &-editor {
                background-image: url('./build/img/editor%20(2).svg');
                height: 32.4rem;
                width: 45%;
                margin-top: 4.7rem;
                position: absolute;
                top: 0px;
                right: 0px;

            }
        }

    }
}



//Subscribe

.logo__subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    border-style: none;
}

@mixin logoNet {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 23px;
}

@mixin textNet {
    font-size: 21px;
    display: inline-block;
}



@mixin subscribe {
    height: 50.7rem;
    background-color: rgb(255, 255, 255);

    .hide_man {
        display: none;
    }

    .about__men {
        margin-bottom: 60px;
    }


    &__container {
    margin: auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 10px;
        font-family: "Montserrat", sans-serif;

        * {
            margin: 0px;
        }

        .block__buttons {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            .button__count {
                display: flex;
                flex-direction: column;
                text-align: center;

                .button__git {
                    margin: 0px 20px;

                    background-color: #f3f3f3;
                    color: #000000;

                    &-logo {
                        @include logoNet;
                    }

                    &-text {
                        @include textNet;
                    }
                }

                .button__git:hover {
                    background-color: #2b414d;
                    color: #f3f3f3;
                }

                .button__twitter {
                    margin: 0px 20px;
                    background-color: #26a6d1;
                    color: #ffffff;

                    &-logo {
                        @include logoNet;
                    }

                    &-text {
                        @include textNet;
                    }
                }

                .button__twitter:hover {
                    background-color: #ffffff;
                    color: #26a6d1;
                    border: 1px solid #26a6d1;
                }

                .button__facebook {
                    margin: 0px 20px;
                    background-color: #3b5998;
                    color: #ffffff;

                    &-logo {
                        @include logoNet;
                    }

                    &-text {
                        @include textNet;
                    }
                }

                .button__facebook:hover {
                    margin: 0px 20px;
                    background-color: #ffffff;
                    color: #3b5998;
                    border: 1px solid #3b5998;

                }


                &-people {
                    font-family: "Montserrat";
                    color: #848e97;
                    font-size: 14px;
                    margin: 18px 0px 28px;
                }
            }
        }

    }

    .carousel {
        margin: auto;
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat", sans-serif;


        .user__data {
            display: flex;
            flex-direction: column;
            font-family: "Montserrat", sans-serif;
            align-items: center;
            margin: 64px 0px 20px;

            &__person {
                width: 87px;
                height: 87px;
                border-radius: 50%;
                border: 1px solid red;
                margin-bottom: 1.2rem;
            }

            &__full {
                &__person-name {
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 700;
                    color: #474747;
                    margin-bottom: 12px;

                }

                &__nickName {
                    font-family: "Montserrat";
                    font-size: 16px;
                    color: $purpl;
                }
            }
        }

        &__describe {
            display: flex;
            align-items: baseline;

            &__about {
                color: #333333;
                font-family: "Lato";
                font-size: 17px;


                &-mail {
                    color: $purpl;

                }
            }

            &__arrows-left {
                color: rgb(162, 162, 162);
                width: 50px;
            }

            &__arrows-right {
                color: rgb(162, 162, 162);
                width: 50px;
                
            }
        }

        &__hours {
            color: #848e97;
            font-size: 16px;
            margin-top: 24px;
        }
    }



}


@media screen and (min-width:320px) {
    .subscribe {
        @include subscribe;
    }
}

@media screen and (min-width:480px) {
    .subscribe {
        @include subscribe;
        height: 47.5rem;


        .carousel {
            .user__data {
                flex-direction: row;
                justify-content: center;
                margin: 120px 0px 40px;

                &__person {
                    margin-bottom: 0px;
                }

                &__full {
                    flex-direction: column;
                    margin-left: 20px;
                    text-align: left;

                    &__person-name {
                        margin-bottom: 2px;
                    }

                    &__nickName {}
                }

            }

            &__describe {
                align-items: center;
            }
        }
    }
}



@media screen and (min-width:768px) {
    .people-are-talking-about-us__block-with-items__item{
        
    }
    .subscribe {
        height: 40.3rem;

        .carousel {
            .user__data {

                margin: 50px 0px;

                &__person {}

                &__full {


                    &__person-name {}

                    &__nickName {}
                }

            }

            &__describe {}


            &__hours {
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(199, 199, 199, 0.2);
            }
        }
    }

}



@media screen and (min-width:1200px) {
    .subscribe {
        height: 36.8rem;

        .carousel {
            .user__data {

                margin: 85px 0px 50px;

            }
        &__hours {
            padding-bottom: 60px;
        }
        }

        &__describe {
            &__about {

                font-size: 20px;

            }

        }


    }
   
}


