@charset "UTF-8";
.mt25 {
  margin-top: 25px !important; }

#mr10-img4 {
  margin-right: 10px; }

#eye {
  font-size: 14px; }

* {
  margin: 0;
  padding: 0; }

.header__hat-mobile__btn-buy-now:hover {
  color: #8f80a9; }

.open {
  margin-bottom: 20px; }

.global {
  margin: 0;
  padding: 0; }

.header {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .header__hat-mobile {
    height: 103px;
    background: #262626;
    padding: 0px 10px 0px 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 103px; }
    .header__hat-mobile__menu-hd {
      position: absolute;
      margin: 84px auto 0px auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%; }
      .header__hat-mobile__menu-hd__align {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60vw; }
        .header__hat-mobile__menu-hd__align__menu-item {
          text-decoration: none; }
          .header__hat-mobile__menu-hd__align__menu-item__link {
            font-family: "Montserrat", sans-serif;
            color: #8d81ac;
            font-size: 16px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 700; }
    .header__hat-mobile__logo:hover .header__hat-mobile__logo__logo-img {
      background-position: -10px -10px; }
    .header__hat-mobile__logo:hover .header__hat-mobile__logo__logo-txt {
      color: #fff; }
    .header__hat-mobile__logo {
      align-items: center;
      display: flex; }
      .header__hat-mobile__logo__logo-img {
        z-index: 2;
        width: 43px;
        height: 41px;
        background: url("../../src/img/css_sprites.png") -73px -10px; }
      .header__hat-mobile__logo__logo-txt {
        z-index: 2;
        margin-left: 12px;
        font-family: "Lato", sans-serif;
        color: #8d81ac;
        font-size: 24px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 700;
        line-height: 16px;
        /* Приближение из-за подстановки шрифтов */
        text-align: left;
        display: none;
        text-transform: uppercase; }
    .header__hat-mobile__btn-buy-now {
      z-index: 2;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 15px;
      font-weight: 700;
      width: 119px;
      height: 37px;
      background: #8F80A9;
      border-radius: 20px; }
    .header__hat-mobile__btn-buy-now:hover {
      background: white; }
    .header__hat-mobile__menu-hd {
      z-index: 1;
      visibility: hidden; }
    .header__hat-mobile__link {
      text-decoration: none;
      background: #8F80A9;
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 32px;
      /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      padding-left: 33px;
      text-align: left;
      height: 96px; }
    .header__hat-mobile .header__hat-mobile__menu-hd__align__menu-item__link:hover {
      color: white; }
    .header__hat-mobile .header__a__link {
      text-decoration: none; }
    .header__hat-mobile__menu-hamburger__appeare {
      margin-top: 25px;
      text-decoration: none;
      width: 100vw;
      position: absolute;
      left: 0;
      display: none; }
      .header__hat-mobile__menu-hamburger__appeare__link {
        text-decoration: none;
        background: #313131;
        text-transform: capitalize;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #373737;
        font-size: 32px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        padding-left: 33px;
        text-align: left;
        height: 96px; }
      .header__hat-mobile__menu-hamburger__appeare__link:hover {
        color: #8d81ac;
        border-right: 5px solid #8d81ac; }
    .header__hat-mobile__menu-hamburger .header__hat-mobile__btn-buy-now:hover {
      background: #fff;
      color: #8f80a9; }
    .header__hat-mobile__menu-hamburger .header__intro-title__btn-buy-now:hover {
      background: #fff;
      color: #8f80a9; }
    .header__hat-mobile__menu-hamburger__icon {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
      position: relative;
      width: 26px;
      height: 21px; }
      .header__hat-mobile__menu-hamburger__icon .header__hat-mobile__btn-buy-now:hover {
        color: #8f80a9; }
      .header__hat-mobile__menu-hamburger__icon__line {
        display: block;
        position: absolute;
        height: 9px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        height: 3px; }
      .header__hat-mobile__menu-hamburger__icon__line:nth-child(1) {
        top: 0px; }
      .header__hat-mobile__menu-hamburger__icon__line:nth-child(2) {
        top: 10px; }
      .header__hat-mobile__menu-hamburger__icon__line:nth-child(3) {
        top: 20px; }
      .header__hat-mobile__menu-hamburger__icon.open .header__hat-mobile__menu-hamburger__icon__line:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg); }
      .header__hat-mobile__menu-hamburger__icon.open .header__hat-mobile__menu-hamburger__icon__line:nth-child(2) {
        opacity: 0;
        left: -60px; }
      .header__hat-mobile__menu-hamburger__icon.open .header__hat-mobile__menu-hamburger__icon__line:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg); }
  .header__intro-title {
    position: relative;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 615px;
    background-position: center;
    background-image: url("../../src/img/main-bg.jpg");
    background-repeat: no-repeat; }
    .header__intro-title__title {
      margin-top: -300px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-size: 48px;
      /* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      text-align: center; }
    .header__intro-title__note-undertitle-block {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .header__intro-title__note-undertitle-block__note-undertitle {
        text-transform: capitalize;
        font-family: "Montserrat", sans-serif;
        color: #8d81ac;
        font-size: 18.01px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 25px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center; }
      .header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
        margin-top: 20px; }
      .header__intro-title__note-undertitle-block__note-undertitle:nth-child(3) {
        margin-top: 5px; }
    .header__intro-title__note-v-of-forkio {
      margin-top: 10px;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      color: #848e97;
      font-size: 14px;
      /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 15px;
      /* Приближение из-за подстановки шрифтов */
      text-align: center; }
    .header__intro-title .header__intro-title__btn-buy-now {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      background-color: #8C80AB;
      border-radius: 20px;
      width: 290px;
      font-family: "Montserrat", sans-serif;
      color: #ffffff;
      font-weight: 700;
      height: 45px;
      font-size: 18px;
      text-transform: capitalize;
      bottom: 0;
      position: absolute;
      bottom: -27px;
      left: 50%;
      transform: translateX(-50%); }
    .header__intro-title .header__intro-title__btn-buy-now:hover {
      color: #8d81ac;
      background: #fff;
      border: 1px solid #8d81ac; }
    .header__intro-title__note-unlimited {
      text-transform: capitalize;
      font-family: "Montserrat", sans-serif;
      margin-top: 13px;
      color: #848e97;
      font-size: 14px;
      /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      line-height: 15px;
      /* Приближение из-за подстановки шрифтов */
      text-align: center; }

.people-are-talking-about-us__underline {
  width: 85%;
  height: 2px;
  background-color: #635665;
  margin: 44px auto 0px;
  border-radius: 1px; }

.people-are-talking-about-us {
  margin-top: 84px;
  background-image: url("../img/people-bg.jpg");
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column; }
  .people-are-talking-about-us__title {
    margin-top: 47px;
    font-family: "Montserrat",sans-serif;
    color: #ffffff;
    font-size: 36px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 35.214px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center; }
  .people-are-talking-about-us__block-with-items {
    display: flex;
    width: 300px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center; }
    .people-are-talking-about-us__block-with-items__item {
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .people-are-talking-about-us__block-with-items__item__logo {
        margin-top: 49px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center; }
      .people-are-talking-about-us__block-with-items__item__description {
        display: flex;
        justify-content: center; }
        .people-are-talking-about-us__block-with-items__item__description__align {
          width: 250px;
          font-family: "Lato",sans-serif;
          color: #ffffff;
          font-size: 16px;
          /* Приближение из-за подстановки шрифтов */
          font-weight: 700;
          font-style: italic;
          line-height: 24px;
          /* Приближение из-за подстановки шрифтов */
          text-align: center; }

.fork-subscription-pricing {
  display: flex;
  padding-bottom: 100px;
  background-image: url("../img/bg-fsp.jpg");
  flex-direction: column;
  justify-content: center; }
  .fork-subscription-pricing__title {
    margin-top: 71px;
    font-family: "Montserrat",sans-serif;
    color: #ffffff;
    font-size: 28px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    text-align: center; }
  .fork-subscription-pricing__note {
    display: none;
    width: 62%;
    margin: auto;
    font-family: 'Source Sans Pro',sans-serif;
    color: rgba(162, 145, 165, 0.8);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center; }
  .fork-subscription-pricing__block-with-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
    margin: auto; }
    .fork-subscription-pricing__block-with-items__item3 {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 288px; }
      .fork-subscription-pricing__block-with-items__item3__title {
        margin-left: -5.5px;
        background-color: rgba(255, 255, 255, 0.06);
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        width: 299px;
        height: 111px;
        color: #ffffff;
        font-size: 24px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 15px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center; }
      .fork-subscription-pricing__block-with-items__item3__other {
        width: 288px;
        background-color: rgba(255, 255, 255, 0.11); }
        .fork-subscription-pricing__block-with-items__item3__other__price {
          margin-top: 15px;
          font-family: "Montserrat",sans-serif;
          color: #ffffff;
          font-size: 82.03px;
          /* Приближение из-за подстановки шрифтов */
          font-weight: 700;
          text-align: center; }
        .fork-subscription-pricing__block-with-items__item3__other__time {
          margin-top: 21px;
          font-family: "Montserrat", sans-serif;
          color: #3F3042;
          font-size: 14.02px;
          /* Приближение из-за подстановки шрифтов */
          font-weight: 400;
          text-align: center; }
        .fork-subscription-pricing__block-with-items__item3__other__underline {
          margin: 49px auto 0px;
          background-color: #8d81ac;
          width: 60px;
          height: 5px; }
        .fork-subscription-pricing__block-with-items__item3__other__note-block {
          margin-top: 41px;
          height: 48px; }
          .fork-subscription-pricing__block-with-items__item3__other__note-block__note {
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
            font-size: 16.01px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 5.317px;
            /* Приближение из-за подстановки шрифтов */
            text-align: center; }
        .fork-subscription-pricing__block-with-items__item3__other__btn:hover {
          background-color: rgba(255, 255, 255, 0.7);
          color: #7f6d78;
          font-weight: 700; }
        .fork-subscription-pricing__block-with-items__item3__other__btn {
          margin: 82px auto 47px;
          background-color: rgba(255, 255, 255, 0.15);
          width: 190px;
          height: 52px;
          font-family: "Montserrat", sans-serif;
          border-radius: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 16px;
          /* Приближение из-за подстановки шрифтов */
          font-weight: 400;
          line-height: 15px;
          /* Приближение из-за подстановки шрифтов */
          text-align: center; }
    .fork-subscription-pricing__block-with-items__item {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 257px;
      background-color: rgba(255, 255, 255, 0.11);
      display: flex;
      justify-content: center;
      flex-direction: column; }
      .fork-subscription-pricing__block-with-items__item__title {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 97px;
        background-color: rgba(255, 255, 255, 0.06);
        z-index: 99;
        text-transform: capitalize;
        font-family: "Montserrat",sans-serif;
        color: #ffffff;
        font-size: 24px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 15px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center; }
      .fork-subscription-pricing__block-with-items__item__price {
        margin-top: 66px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 60.18px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 15px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center; }
      .fork-subscription-pricing__block-with-items__item__time {
        margin-top: 24px;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 14px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 15px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center; }
      .fork-subscription-pricing__block-with-items__item__underline {
        margin: 39px auto 0px;
        background-color: #8d81ac;
        width: 60px;
        height: 5px; }
      .fork-subscription-pricing__block-with-items__item__btn:hover {
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.7);
        color: #7f6d78; }
      .fork-subscription-pricing__block-with-items__item__btn {
        margin: 68px auto 38px;
        text-transform: uppercase;
        background-color: rgba(255, 255, 255, 0.15);
        width: 160px;
        height: 42px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Montserrat", sans-serif;
        color: #ffffff;
        font-size: 14.99px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 15px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center; }
      .fork-subscription-pricing__block-with-items__item__note-block {
        height: 46px; }
        .fork-subscription-pricing__block-with-items__item__note-block__note {
          text-transform: capitalize;
          margin-top: 31px;
          font-family: "Montserrat", sans-serif;
          color: #ffffff;
          font-size: 16.01px;
          /* Приближение из-за подстановки шрифтов */
          font-weight: 400;
          line-height: 5.317px;
          /* Приближение из-за подстановки шрифтов */
          text-align: center; }

.revolutionary-editor {
  margin-top: 121px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 25px 0px 25px; }
  .revolutionary-editor__title {
    display: flex;
    flex-wrap: wrap;
    width: 286px;
    margin: auto;
    justify-content: center; }
    .revolutionary-editor__title__title-item {
      font-family: "Montserrat", sans-serif;
      color: #635c73;
      font-size: 26px;
      /* Приближение из-за подстановки шрифтов */
      font-weight: 700;
      text-transform: uppercase;
      text-align: center; }
  .revolutionary-editor__description {
    font-family: "Lato", sans-serif;
    color: #323232;
    font-size: 14px;
    /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 14.673px;
    /* Приближение из-за подстановки шрифтов */
    text-align: center; }
  .revolutionary-editor__three-btns-block {
    width: 81vw;
    margin: 35px auto auto auto; }
    .revolutionary-editor__three-btns-block__btn {
      display: flex;
      height: 27px; }
      .revolutionary-editor__three-btns-block__btn__icon-and-txt {
        font-weight: 700;
        border-color: rgba(27, 31, 35, 0.35);
        border-radius: 3px;
        padding: 0px 10px 0px 10px;
        text-transform: capitalize;
        width: 65px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-color: rgba(27, 31, 35, 0.35);
        background-color: #e6ebf1;
        font-size: 12px;
        font-family: "Montserrat", sans-serif;
        border: 1px solid rgba(27, 31, 35, 0.2);
        border-right: none; }
      .revolutionary-editor__three-btns-block__btn__icon-and-txt:nth-child(1) {
        width: 65px; }
      .revolutionary-editor__three-btns-block__btn__number {
        border-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        background-color: #fff;
        border: 1px solid rgba(27, 31, 35, 0.2);
        border-radius: 3px;
        font-size: 12px;
        font-weight: 600;
        font-family: "Montserrat", sans-serif; }

.revolutionary-editor__three-btns-block_line1 {
  display: flex;
  justify-content: space-between;
  width: 256px;
  margin: auto; }

.revolutionary-editor__three-btns-block_line2 {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

#disapp-btn {
  display: none; }

@media (min-width: 480px) and (max-width: 768px) {
  #disapp-btn {
    display: block; }
  .revolutionary-editor__three-btns-block_line2 {
    visibility: hidden; }
  .revolutionary-editor__three-btns-block_line1 {
    width: 365px; }
  .revolutionary-editor__title {
    width: 520px;
    margin: auto; }
  .revolutionary-editor__title__title-item {
    font-size: 42px; }
  .revolutionary-editor__title__title-item:nth-child(2) {
    margin-top: 10px; }
  .header__intro-title__btn-buy-now {
    width: 390px !important;
    height: 62px !important; }
  .header__hat-mobile__logo__logo-txt {
    display: block; }
  .fork-subscription-pricing__block-with-items {
    width: 300px;
    justify-content: center; }
  .fork-subscription-pricing__title {
    font-size: 42px; } }

.fork-subscription-pricing__title {
  font-size: 42px; }

.header__hat-mobile__btn-buy-now {
  margin-right: 12px; }

.header__intro-title__title {
  font-size: 54px; }

.header__intro-title__note-undertitle {
  font-size: 20px; }

.header__intro-title__note-undertitle:nth-child(2) {
  margin-top: 35px; }

.header__intro-title__note-v-of-forkio {
  font-size: 16px; }

.header__intro-title__btn-buy-now {
  background-color: #8d81ac;
  width: 390px;
  height: 62px;
  font-size: 21px; }

.revolutionary-editor__title {
  font-size: 42px; }

.revolutionary-editor__description {
  font-size: 16px; }

@media (min-width: 768px) and (max-width: 1200px) {
  .header__intro-title__btn-buy-now {
    background-color: #8d81ac;
    width: 390px !important;
    height: 62px !important;
    font-size: 21px !important;
    margin-top: 380px !important;
    border-radius: 30px !important; }
  #disapp-btn {
    display: block; }
  .revolutionary-editor__three-btns-block_line2 {
    visibility: hidden; }
  .revolutionary-editor__three-btns-block_line1 {
    width: 365px; }
  .revolutionary-editor__title__title-item:nth-child(1) {
    margin-right: 10px; }
  .revolutionary-editor__title {
    width: 700px;
    margin: auto; }
  .header__hat-mobile__logo__logo-txt {
    display: block; }
  .people-are-talking-about-us__title {
    font-size: 42px; }
  .people-are-talking-about-us__block-with-items {
    width: 600px;
    justify-content: space-between; }
  .fork-subscription-pricing__block-with-items {
    justify-content: space-between;
    width: 560px; }
  .fork-subscription-pricing__title {
    font-size: 42px; }
  .header__hat-mobile {
    height: 118px; }
  .header__hat-mobile__menu-hamburger {
    display: none; }
  .header__hat-mobile__menu-hd {
    visibility: visible; }
  .revolutionary-editor__title__title-item:nth-child(1) {
    margin-right: 10px; }
  .header__intro-title__titel {
    font-size: 72px; }
  .header__intro-title__note-undertitle {
    font-size: 24px; }
  .header__intro-title__note-v-of-forkio {
    font-size: 14px; }
  .header__intro-title__btn-buy-now {
    width: 390px;
    height: 62px;
    margin-top: 530px;
    font-size: 21px; }
  .header__intro-title__note-undertitle-block {
    flex-direction: row; }
  .header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
    margin-left: 10px;
    margin-top: 0; }
  .revolutionary-editor__title__title-item {
    font-size: 42px; }
  .revolutionary-editor__description {
    line-height: 23.476px;
    font-size: 21px; } }

@media (min-width: 1200px) {
  .header__intro-title__btn-buy-now {
    background-color: #8d81ac;
    width: 390px !important;
    height: 62px !important;
    font-size: 21px !important;
    border-radius: 30px !important; }
  .revolutionary-editor__title {
    width: 800px;
    margin: auto; }
  .header__hat-mobile__logo__logo-txt {
    display: block; }
  #disapp-btn {
    display: block; }
  .revolutionary-editor__three-btns-block_line2 {
    visibility: hidden; }
  .revolutionary-editor__three-btns-block_line1 {
    width: 365px; }
  .revolutionary-editor__title {
    width: 200px;
    margin: auto; }
  .revolutionary-editor__title__title-item:nth-child(1) {
    margin-right: 10px; }
  .people-are-talking-about-us__title {
    font-size: 48px; }
  .people-are-talking-about-us__block-with-items {
    width: 930px;
    justify-content: space-between; }
  .fork-subscription-pricing__block-with-items {
    justify-content: space-between;
    width: 1115px; }
  .fork-subscription-pricing__title {
    font-size: 48px; }
  .revolutionary-editor__description {
    font-size: 21px;
    width: 75vw;
    display: flex;
    justify-content: center;
    margin: auto;
    line-height: 23.476px; }
  .header__hat-mobile__btn-buy-nowХ {
    width: 145px;
    font-size: 16px;
    height: 38px; }
  .header__hat-mobile__menu-hamburger {
    display: none; }
  .header__hat-mobile__menu-hd {
    visibility: visible;
    margin-top: 0; }
  .header__hat-mobile {
    padding: 0px 90px 0px 90px; }
  .header__hat-mobile__menu-hd__align {
    width: 35vw; }
  .header__intro-title__title {
    font-size: 82px; }
  .header__intro-title__note-undertitle-block {
    flex-direction: row; }
    .header__intro-title__note-undertitle-block__note-undertitle {
      font-size: 30px; }
  .header__intro-title__note-v-of-forkio {
    margin-top: 18px; }
  .revolutionary-editor__note-undertitle-block__note-undertitle {
    font-size: 54px; }
  .revolutionary-editor__description {
    font-style: 21px; }
  .revolutionary-editor__title__title-item {
    font-size: 54px; }
  .revolutionary-editor__title__title-item:nth-child(2) {
    margin-left: 10px; } }

.header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
  margin-top: 0;
  margin-left: 10px; }

* {
  transition: all .2s; }

@media screen and (min-width: 320px) {
  .opportunitys {
    margin: auto;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("../build/img/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; } }

@media screen and (min-width: 480px) {
  .opportunitys {
    margin: auto;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;
    height: 85rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("../build/img/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; }
    .opportunitys__container .descripsion {
      width: 100%;
      font-size: 42px;
      line-height: 57px;
      margin: 2.3rem 0rem 1.3rem; }
    .opportunitys__container .discripsion__long {
      margin-top: 2.8rem; }
      .opportunitys__container .discripsion__long__img-created {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 7px; }
      .opportunitys__container .discripsion__long__img-incred {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 7px; }
      .opportunitys__container .discripsion__long__img-expr {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 24px; }
      .opportunitys__container .discripsion__long__img-created2 {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 16px; }
      .opportunitys__container .discripsion__long__text {
        text-align: left;
        margin: 0px 20px 0px 150px; }
        .opportunitys__container .discripsion__long__text-m {
          margin-top: 0px; }
        .opportunitys__container .discripsion__long__text-s {
          line-height: 22px; }
    .opportunitys__container-editor {
      background-image: url("../build/img/editor%20(1).svg");
      background-size: contain;
      height: 32.4rem;
      margin-top: 2.2rem; } }

@media screen and (min-width: 768px) {
  .opportunitys {
    margin: auto;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;
    height: 78.7rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("../build/img/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; }
    .opportunitys__container .descripsion {
      width: 100%;
      font-size: 42px;
      line-height: 57px;
      margin: 2.3rem 0rem 1.3rem;
      margin: 2.9rem 0rem 0.1rem; }
    .opportunitys__container .discripsion__long {
      margin-top: 3.2rem; }
      .opportunitys__container .discripsion__long__img-created {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 0.7rem; }
      .opportunitys__container .discripsion__long__img-incred {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 0.7rem; }
      .opportunitys__container .discripsion__long__img-expr {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 1.75rem; }
      .opportunitys__container .discripsion__long__img-created2 {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 1.25rem; }
      .opportunitys__container .discripsion__long__text {
        text-align: left;
        margin: 0rem 1.55rem 0rem 10rem; }
        .opportunitys__container .discripsion__long__text-m {
          margin-top: 0rem; }
        .opportunitys__container .discripsion__long__text-s {
          font-family: "Montserrat";
          font-weight: 400;
          line-height: 22px; }
    .opportunitys__container-editor {
      background-image: url("../build/img/editor%20(2).svg");
      height: 32.4rem;
      margin-top: 2.9rem; } }

@media screen and (min-width: 1200px) {
  .opportunitys {
    margin: auto;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;
    height: 44.4rem;
    max-width: 1200px; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("../build/img/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; }
    .opportunitys__container {
      width: 100%;
      padding-top: 3.5rem;
      align-items: flex-start;
      position: relative; }
      .opportunitys__container .descripsion {
        width: 100%;
        font-size: 42px;
        line-height: 57px;
        margin: 2.3rem 0rem 1.3rem;
        width: 45%;
        position: absolute;
        right: 0px;
        margin: 0rem 0rem 0.1rem;
        line-height: 65px; }
      .opportunitys__container .discripsion__long {
        width: 45%;
        margin-top: 1.7rem; }
        .opportunitys__container .discripsion__long__img-created {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 71px; }
        .opportunitys__container .discripsion__long__img-incred {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 71px; }
        .opportunitys__container .discripsion__long__img-expr {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 88px; }
        .opportunitys__container .discripsion__long__img-created2 {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 80px; }
        .opportunitys__container .discripsion__long__text {
          text-align: left;
          margin: 0px 0px 0px 215px;
          width: 22.8rem; }
          .opportunitys__container .discripsion__long__text-m {
            margin: 0px 0px 0.6rem; }
      .opportunitys__container-editor {
        background-image: url("./build/img/editor%20(2).svg");
        height: 32.4rem;
        width: 45%;
        margin-top: 4.7rem;
        position: absolute;
        top: 0px;
        right: 0px; } }

.logo__subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  border-style: none; }

@media screen and (min-width: 320px) {
  .subscribe {
    height: 50.7rem;
    background-color: white; }
    .subscribe .hide_man {
      display: none; }
    .subscribe .about__men {
      margin-bottom: 60px; }
    .subscribe__container {
      margin: auto;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0px 10px;
      font-family: "Montserrat", sans-serif; }
      .subscribe__container * {
        margin: 0px; }
      .subscribe__container .block__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .subscribe__container .block__buttons .button__count {
          display: flex;
          flex-direction: column;
          text-align: center; }
          .subscribe__container .block__buttons .button__count .button__git {
            margin: 0px 20px;
            background-color: #f3f3f3;
            color: #000000; }
            .subscribe__container .block__buttons .button__count .button__git-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__git-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__git:hover {
            background-color: #2b414d;
            color: #f3f3f3; }
          .subscribe__container .block__buttons .button__count .button__twitter {
            margin: 0px 20px;
            background-color: #26a6d1;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__twitter-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__twitter-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__twitter:hover {
            background-color: #ffffff;
            color: #26a6d1;
            border: 1px solid #26a6d1; }
          .subscribe__container .block__buttons .button__count .button__facebook {
            margin: 0px 20px;
            background-color: #3b5998;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__facebook-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__facebook-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__facebook:hover {
            margin: 0px 20px;
            background-color: #ffffff;
            color: #3b5998;
            border: 1px solid #3b5998; }
          .subscribe__container .block__buttons .button__count-people {
            font-family: "Montserrat";
            color: #848e97;
            font-size: 14px;
            margin: 18px 0px 28px; }
    .subscribe .carousel {
      margin: auto;
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat", sans-serif; }
      .subscribe .carousel .user__data {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        align-items: center;
        margin: 64px 0px 20px; }
        .subscribe .carousel .user__data__person {
          width: 87px;
          height: 87px;
          border-radius: 50%;
          border: 1px solid red;
          margin-bottom: 1.2rem; }
        .subscribe .carousel .user__data__full__person-name {
          font-family: "Montserrat";
          font-size: 24px;
          font-weight: 700;
          color: #474747;
          margin-bottom: 12px; }
        .subscribe .carousel .user__data__full__nickName {
          font-family: "Montserrat";
          font-size: 16px;
          color: #8d81ac; }
      .subscribe .carousel__describe {
        display: flex;
        align-items: baseline; }
        .subscribe .carousel__describe__about {
          color: #333333;
          font-family: "Lato";
          font-size: 17px; }
          .subscribe .carousel__describe__about-mail {
            color: #8d81ac; }
        .subscribe .carousel__describe__arrows-left {
          color: #a2a2a2;
          width: 50px; }
        .subscribe .carousel__describe__arrows-right {
          color: #a2a2a2;
          width: 50px; }
      .subscribe .carousel__hours {
        color: #848e97;
        font-size: 16px;
        margin-top: 24px; } }

@media screen and (min-width: 480px) {
  .subscribe {
    height: 50.7rem;
    background-color: white;
    height: 47.5rem; }
    .subscribe .hide_man {
      display: none; }
    .subscribe .about__men {
      margin-bottom: 60px; }
    .subscribe__container {
      margin: auto;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0px 10px;
      font-family: "Montserrat", sans-serif; }
      .subscribe__container * {
        margin: 0px; }
      .subscribe__container .block__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .subscribe__container .block__buttons .button__count {
          display: flex;
          flex-direction: column;
          text-align: center; }
          .subscribe__container .block__buttons .button__count .button__git {
            margin: 0px 20px;
            background-color: #f3f3f3;
            color: #000000; }
            .subscribe__container .block__buttons .button__count .button__git-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__git-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__git:hover {
            background-color: #2b414d;
            color: #f3f3f3; }
          .subscribe__container .block__buttons .button__count .button__twitter {
            margin: 0px 20px;
            background-color: #26a6d1;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__twitter-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__twitter-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__twitter:hover {
            background-color: #ffffff;
            color: #26a6d1;
            border: 1px solid #26a6d1; }
          .subscribe__container .block__buttons .button__count .button__facebook {
            margin: 0px 20px;
            background-color: #3b5998;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__facebook-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__facebook-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__facebook:hover {
            margin: 0px 20px;
            background-color: #ffffff;
            color: #3b5998;
            border: 1px solid #3b5998; }
          .subscribe__container .block__buttons .button__count-people {
            font-family: "Montserrat";
            color: #848e97;
            font-size: 14px;
            margin: 18px 0px 28px; }
    .subscribe .carousel {
      margin: auto;
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat", sans-serif; }
      .subscribe .carousel .user__data {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        align-items: center;
        margin: 64px 0px 20px; }
        .subscribe .carousel .user__data__person {
          width: 87px;
          height: 87px;
          border-radius: 50%;
          border: 1px solid red;
          margin-bottom: 1.2rem; }
        .subscribe .carousel .user__data__full__person-name {
          font-family: "Montserrat";
          font-size: 24px;
          font-weight: 700;
          color: #474747;
          margin-bottom: 12px; }
        .subscribe .carousel .user__data__full__nickName {
          font-family: "Montserrat";
          font-size: 16px;
          color: #8d81ac; }
      .subscribe .carousel__describe {
        display: flex;
        align-items: baseline; }
        .subscribe .carousel__describe__about {
          color: #333333;
          font-family: "Lato";
          font-size: 17px; }
          .subscribe .carousel__describe__about-mail {
            color: #8d81ac; }
        .subscribe .carousel__describe__arrows-left {
          color: #a2a2a2;
          width: 50px; }
        .subscribe .carousel__describe__arrows-right {
          color: #a2a2a2;
          width: 50px; }
      .subscribe .carousel__hours {
        color: #848e97;
        font-size: 16px;
        margin-top: 24px; }
    .subscribe .carousel .user__data {
      flex-direction: row;
      justify-content: center;
      margin: 120px 0px 40px; }
      .subscribe .carousel .user__data__person {
        margin-bottom: 0px; }
      .subscribe .carousel .user__data__full {
        flex-direction: column;
        margin-left: 20px;
        text-align: left; }
        .subscribe .carousel .user__data__full__person-name {
          margin-bottom: 2px; }
    .subscribe .carousel__describe {
      align-items: center; } }

@media screen and (min-width: 768px) {
  .subscribe {
    height: 40.3rem; }
    .subscribe .carousel .user__data {
      margin: 50px 0px; }
    .subscribe .carousel__hours {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(199, 199, 199, 0.2); } }

@media screen and (min-width: 1200px) {
  .subscribe {
    height: 36.8rem; }
    .subscribe .carousel .user__data {
      margin: 85px 0px 50px; }
    .subscribe .carousel__hours {
      padding-bottom: 60px; }
    .subscribe__describe__about {
      font-size: 20px; } }
